@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.login-cart{
    font-size: 20px;
    display:flex;
    justify-content: right;
    border-bottom: 1px solid rgb(253, 253, 253);
    width:100%;
}
.login{
    margin-top:10px;
    margin-bottom:10px;
    padding-left:20px;
}
.like{
    margin-top:10px;
    margin-bottom:10px;
    padding-left:20px;
}
.cart{
    margin-top:10px;
    margin-bottom:10px;
    padding-left:20px;
    margin-right: 50px;
}
.cart-update{
    font-size: 10px;
    margin-top:0px;
}
.dropdown-menu{
    background-color: grey;
}
.dropdown-menu:hover{
    background-color:rgba(245, 169, 110, 0.915);
}
.dropdown-item:hover{
background-color: rgba(232, 114, 23, 0.915)
}

.login:hover,.cart:hover,.like:hover{
    color:rgb(186, 92, 92);
}
 .main-menu,.header-nav{
    background-color:rgba(232, 114, 23, 0.915)
}
.navbar-brand, .nav-item a{
    color:rgb(254, 254, 254) !important;
}
.bg-col{
    background-color:rgb(212, 254, 248) !important; 
    font-weight: bolder;
}
.bg-color{
font-size:20px;
}
.bg-color:hover{
  color:blueviolet
    }
.bdy-bg-color{
    background-color: rgba(4, 62, 11, 0.325);
   /* background-color: rgba(220, 212, 252, 0.838);
    /*background-color: rgba(245, 160, 107, 0.838);*/
}

.fix-width img {
    height:300px;
    
}
.fix-width{
display:flex;
text-align: center;
background-color:rgba(0, 0, 0, 0.838);
}

.carousel-item img{
display: inline-block;
white-space: nowrap; 
margin:-3px;
}

.ch-bg-color{
    background-color: rgb(5, 21, 51) !important;
    color:chocolate;
    text-align: center;
}
.card-space{
    background-color: rgb(79, 97, 128) !important;  
    height:410px;
    width:100px!important;
    margin:10px;
}

.card{
    word-wrap:initial !important;
   border: 0px   !important;
}
.card-space img{
    height:250px;
    width:auto;
    
}
.card-title{
    color:white !important;
}
.card-text{
color:rgb(247, 103, 0);
}